
input
{
  file
  {
    path => "/home/newton/Videos/traffic/*.txt"
    start_position => "beginning"
    sincedb_path => "NUL"
  }
}

filter {
  csv {
    remove_field => ["path"]
    separator => ","
    columns => [ "indexed", "msisdn", "no_of_times", "source", "point", "no", "content", "one", "number", "sms_per_day", "terminal", "no_one", "no_two"]
  }


  date {
       match => ["sms_per_day", "yyyy-MM-dd HH:mm:ss"]    sms_per_day TIMESTAMP NULL,

    target => "sms_per_day"
    timezone => "Africa/Nairobi"

   }





  mutate { convert => ["indexed", "integer"]}
  mutate { convert => ["msisdn", "integer"]}
  mutate { convert => ["no_of_times", "integer"]}
  mutate { convert => ["source", "integer"]}
  mutate { convert => ["point", "integer"]}
  mutate { convert => ["no", "integer"]}
  mutate { convert => ["content", "integer"]}
  mutate { convert => ["one", "integer"]}
  mutate { convert => ["number", "integer"]}
  mutate { convert => ["no_one", "integer"]}
  mutate { convert => ["no_two", "integer"]}
}

output {
  elasticsearch {
    hosts => "localhost"
    index => "blast_test_one_test"
  }
  stdout { codec => rubydebug }
}
